<div class="m-card">

  <mat-card>

    <mat-card-header>
      <div mat-card-avatar class="card-header-image"></div>
      <mat-card-title>
        <a href="{{ product.url }}" target="_blank"> 
          {{ product.name }}
        </a>
      </mat-card-title>
      <mat-card-subtitle>pccomponentes.com</mat-card-subtitle>
    </mat-card-header>
  
    <img 
      mat-card-image 
      src="{{ product.image }}"
      class="center"
      alt="product image">
  
    <mat-card-content>
      <p fxLayoutAlign="center">{{ product.name }}</p>
      <div class="mat-body-2 price" fxLayoutAlign="center">
        {{ product.price }} €
      </div>
    </mat-card-content>
  
    <mat-card-actions fxLayoutAlign="center center">
      <button color="primary" mat-button>Details</button>
      <button color="warn" mat-button>Save</button>
    </mat-card-actions>
  
  </mat-card>

</div>