button {
  width: 100%;
  margin-bottom: 3px;
}

.m-card {
  max-width: 95%;
  margin-bottom: 5%;
  align-items: center;
}

.card-header-image {
  background-image: url('https://cdn6.aptoide.com/imgs/0/9/a/09ab0b490127a36cdd22083fc7c72ccb_icon.png?w=256');
  background-size: cover;
}

.price {
  color: green($color: #000000);
}