$darkgray: #292828;
$whitecard: #EEEEEE;

mat-card {
  margin: 0.5rem;
  padding-top: 0.2rem;
}

mat-card:hover {
  background-color: $whitecard;
}

button {
  width: 100%;
  margin-bottom: 3px;
}

img {
  max-width: 90%;
}

a {
  text-decoration: none;
}

.avatar {
  max-width: 90%;
  margin-bottom: 0.2rem;
}

#subtitle {
  margin: 0.7rem;
}

#name {
  text-align: center; 
  color: $darkgray;
}

#price {
  color: $darkgray;
  font-size: 1.3rem;
}