<mat-card>
  <a href="{{ product.url }}" target="_blank">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>
        <div fxLayoutAlign="center">
          <img mat-card-avatar 
            class="avatar"
            [src]="product.shopImgURL"/>
          <mat-card-subtitle id="subtitle">
            {{ product.shopName }}
          </mat-card-subtitle>
        </div>
        <mat-divider></mat-divider>
        <br>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div fxLayoutAlign="center">
        <img mat-card-image 
          src="{{ product.image }}"
          alt="product image">
      </div>
      <div fxLayoutAlign="center">
        <div class="input" id="name">
          {{ product.name }}
        </div>
      </div>
      <div fxLayoutAlign="center">
        <div class="mat-body-2" id="price">
          {{ product.price }}€
        </div>
      </div>
    </mat-card-content>
  </a>

</mat-card>
