<div class="mat-body-2">Shops:</div>
<br>
<mat-button-toggle-group 
    #group="matButtonToggleGroup" 
    (change)="onValChange(group.value)" multiple>
    <mat-button-toggle value="pccomponentes">
        <img [src]="pccomponentesURL" class="image-url">
    </mat-button-toggle>
    <mat-button-toggle value="amazon">
        <img [src]="amazonURL" class="image-url">
    </mat-button-toggle>
    <mat-button-toggle value="aliexpress">
        <img [src]="aliexpressURL" class="image-url">
    </mat-button-toggle>
</mat-button-toggle-group>